* {
    margin: 0;
    padding: 0;
}

body {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 30px;
}

header {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    background: rgb(170, 169, 169);
    padding: 20px;
}

.main_container {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}

.left {
    flex: 0 0 67%;
    background: #e4d9ca;
}

p {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    padding: 100px;
}

.section {
    display: flex;
    background: #e9c9a0;
    flex-flow: row wrap;
    padding: 20px 10px;
    margin: 10px 10px;
    justify-content: center;
    align-content: flex-end;
    min-width: 700px;
}

.block_container {
    display: flex;
}

aside {
    display: flex;
    flex: 1 1 33%;
    padding: 20px 10px;
    justify-content: center;
    background: rgb(155, 196, 155);
}

.flex_conteiner {
    display: flex;
    background-color: rgb(136, 123, 123);
    align-self: center;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    left: 0;
}

.foot {
    display: flex;
    flex: 0 0 auto;
    background-color: white;
    padding: 20px 10px;
    margin: 10px 10px;
    justify-content: center;
    flex-grow: 1;
}